/* file: indexStyleSheet.css */

* {
    font-family: montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: f1fbff;
}

.section-padding {
    padding: 100px 0;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-light, .navbar-brand {
    color: #000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light, .navbar-brand:focus, .navbar-light, .navbar-brand:hover {
    color: #000;
}

.navbar-light, .navbar-nav, .navbar-link {
    color: #000;
}

.w-100 {
    height: 100vh;
}

.core-values .card-body i {
    font-size: 50px;
}

.team .card-body i {
    font-size: 20px;
}

.portfolio .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.team .card {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}





/* === responsive css  === */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-caption {
        bottom: 370px;
    }

    .carousel-caption p {
        width: 100%;
    }

    .card {
        margin-bottom: 30px;
    }

    .img-area img {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h5 {
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }

    .about-text {
        padding-top: 50px;
    }

    .card {
        margin-bottom: 30px;
    }
}

/* === responsive css END  === */






#eiz-team {
    height: 250px;
    width: 250px;
}

.list-inline-item {
    height: 100px;
}

#welcome-to-eiz {
    object-fit: contain;
    background-color: rgb(0, 128, 0);
}

#footer-logo {
    height: 140px;
}

#echo-holder {
    height: 350px;
}

.foot-link {
    text-decoration: none;
    color: rgb(208,208,208);
}

.foot-link:hover {
    color: rgb(255, 255, 255);
}

#gdsc-unza-footer {
    height: 30px;
}




/* Partners Section Carousel */
.logos-slide img {
    height: 150px;
    margin: 0 40px;
}

#partners {
    background-color: #f2f2f2;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;  
    position: relative; 
}

.logos:before, .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: '';
    z-index: 2;
}

/*

.logos:before {
    left: 0;
    background: linear-gradient(to left, 
        rgba(255, 255, 255, 0), white
    );
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, 
        rgba(255, 255, 255, 0), white
    );
}

*/

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}