<!-- file: contact.html -->

{% extends 'team.html' %}

{% block body %}

<!-- Contact Section -->
<section id="contacts" class="contact section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Contact Us</h2>
            <p>
              Feel free to reach out to us.
            </p>
          </div>
        </div>
      </div>
  
      <div class="row m-0">
        <div class="col-md-12 p-0 pt-4 p-4 pb-4">
          <form action="" class="bg-light p-4 m-auto">
            <div class="row" id="contact-card">
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Your Full Name" required />
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3">
                  <input type="email" class="form-control" placeholder="Your Email Address" required />
                </div>
              </div>
                <div class="col-md-12">
                  <div class="mb-3">
                    <textarea name="" id="" rows="3" class="form-control" placeholder="Your Query Here" required></textarea>
                  </div>
              </div>
  
              <a href="mailto:eizunzasc2010@gmail.com" class="btn btn-success btn-lg btn-block mt-3">Send Now</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

{% endblock %}