<!-- file: downloads.html -->

{% extends 'projects.html' %}

{% block body %}

 <!-- Downloads Section -->
 <section id="downloads" class="downloads section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Downloads</h2>
            <p>
              Explore our section of thoughtfully curated media.
            </p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <h3 class="card-title">Constitution</h3>
              <p class="lead">
                The content of this
                constitution shall will be superseded by The EIZ Constitution and the EIZ Act.
              </p>
              <a href="https://drive.google.com/file/d/1IKRMwiuY9JlPYY9l2EoD2Zfb4hbhFmpP/view" target="_blank">
                <button class="btn btn-success text-white">Download</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <h3 class="card-title">Publications</h3>
              <p class="lead">
                Official documents published under the Engineering Institution of Zambia (EIZ).
              </p>
              <a href="../publications">
                <button class="btn btn-success text-white">Explore</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <h3 class="card-title">Chapter Gallery Archive</h3>
              <p class="lead">
                A memory bank of activities that have taken place over the past few years.
              </p>
              <a href="../gallery">
                <button class="btn btn-success text-white">Explore</button>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>

{% endblock %}