<!-- file: downloads.html -->

{% block body %}

 <!-- Downloads Section -->
 <section id="downloads" class="downloads section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Downloads</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <h3 class="card-title">Constitution</h3>
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam.
              </p>
              <a href="https://drive.google.com/file/d/1IKRMwiuY9JlPYY9l2EoD2Zfb4hbhFmpP/view" target="_blank">
                <button class="btn btn-success text-white">Download</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <h3 class="card-title">Engineering Echo</h3>
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam.
              </p>
              <a href="../echo">
                <button class="btn btn-success text-white">Explore</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-white text-center bg-dark pb-2">
            <div class="card-body">
              <h3 class="card-title">Chapter Gallery Archive</h3>
              <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam.
              </p>
              <a href="../gallery">
                <button class="btn btn-success text-white">Explore</button>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
  </section>

{% endblock %}