<!-- file: echo.html -->

{% extends 'base.html' %}

{% block body %}
    {% include 'header.html' %}

    <!-- Engineering Echo Section -->
<section id="portfolio" class="portfolio section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Engineering Echo</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pd-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img 
                  src="https://lh3.googleusercontent.com/pw/ABLVV85EYXetiqqPfrMUGP9PRIJwys-ll27Ir9EpgE7y2g5k8rV6QDriN7HeCFjK1Av4if28kzsZurvZ4XXDs554-vTKj5WyDcJAIhq7FafxBiM3LEQHUFM=w2400" 
                    alt="" class="img-fluid" id="echo-holder" />
              </div>
              <h3 class="card-title">Issue No. 64</h3>
              <br />
              <a href="https://drive.google.com/file/d/1fOS4cC3hx7uEB0iyhUIsDDaHmNRVPo4N/view" target="_blank">
                <button class="btn btn-success">Download</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pd-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img src="https://lh3.googleusercontent.com/pw/ABLVV85F6rNg2BTP8WIue6Y46a7xZKzzKk9kZf2nF9Zs9Jo69KzNUU82MV6tkLvHpli4yVeb2bY1Bf4fQJh9gov2xpjRCWoDB0zq0s0fXq3RjZ4-o6IHC2o=w2400" 
                  alt="" class="img-fluid" id="echo-holder" />
              </div>
              <h3 class="card-title">Issue No. 63</h3>
              <br />
              <a href="https://drive.google.com/file/d/1PB8sBm3nq7ETVQT_ZdfEZRBxx9jSNdEw/view" target="_blank">
                <button class="btn btn-success">Download</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-center bg-white pd-2">
              <div class="card-body text-dark">
                <div class="img-area mb-4">
                  <img src="https://lh3.googleusercontent.com/pw/ABLVV86E0Bq0LlBGlo5Pnau214LycDWhQGkbxrdErN1gmHE8HEjik-X8NXe_6OAajr_lvhtkkQKy6Dp11GkqNLYRHi6Kj9XcyZ3fSwXzMw7lhXtztHP9X-U=w2400"   
                    alt="" class="img-fluid" id="echo-holder" />
                </div>
                <h3 class="card-title">Issue No. 62</h3>
                <br />
                <a href="https://drive.google.com/file/d/1jvZDU8bYB94rnulKAPJ70aUV-rAvMped/view" target="_blank">
                  <button class="btn btn-success">Download</button>
                </a>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-center bg-white pd-2">
              <div class="card-body text-dark">
                <div class="img-area mb-4">
                  <img src="https://lh3.googleusercontent.com/pw/ABLVV86gv1_nn4N-GZ6ENuT9rfdpZd-9XFQHOMUrWDHngX3cze1xRxn_QWWoCkDNen_7pB8f0QMzk4wpH6awUevo52FE2gxe8rvt7DG21znYuVA1JDDyFj0=w2400" 
                    alt="" class="img-fluid" id="echo-holder" />
                </div>
                <h3 class="card-title">Issue No. 61</h3>
                <br />
                <a href="https://drive.google.com/file/d/1WSW0NBd001Ve0HLzVCpfhtTEqlPJjPLn/view" target="_blank">
                  <button class="btn btn-success">Download</button>
                </a>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-center bg-white pd-2">
              <div class="card-body text-dark">
                <div class="img-area mb-4">
                  <img src="https://lh3.googleusercontent.com/pw/ABLVV84tydDKfMmor83RdTvlRMVci7q2RBnFqmyIoqvK2Nx_douKoP26UJwXKweLGhGbb-QtOKJ38DXqH2ZjwB6iTqBaZwmcO3iDWIu8K1EDa4KVf-yq3J4=w2400" 
                    alt="" class="img-fluid" id="echo-holder" />
                </div>
                <h3 class="card-title">Issue No. 60</h3>
                <br />
                <a href="https://drive.google.com/file/d/18LPLBBT0djbeXhnrOGTOrW9ACiwNq6mo/view" target="_blank">
                  <button class="btn btn-success">Download</button>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

    {% include 'footer.html' %}
{% endblock %}