<!-- file: gallery-2.html -->

{% extends 'gallery-1.html' %}

{% block body %}

  <!-- 2022/2023 YEAR - Carousel -->
  <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="9" aria-label="Slide 10"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="10" aria-label="Slide 11"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="11" aria-label="Slide 12"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..\static\images\gallery\eiz-unza-sc-logo.jpg" 
          class="d-block w-100" id="welcome-to-eiz" alt="...">
        <div class="carousel-caption">
          <h5>2022/2023 Academic Year</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\eiz-amg.jpg" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>EIZ Southern Region Annual General Meeting</h5>
          <p>2022/2023 Academic Year.</p>
          <p><a href="https://photos.app.goo.gl/7zih1NF5UargHpcx6" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\eng-day-1.jpg" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>World Engineering Day 2023</h5>
          <p>2022/2023 Academic Year.</p>
          <p><a href="https://photos.app.goo.gl/F6npQp1Xd2561Sfq6" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\tme.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>IEEE x GDSC Fundamentals of Robotics</h5>
          <p>2022/2023 Academic Year.</p>
          <p><a href="https://photos.app.goo.gl/JPe2fYPpb8JgSXmh6" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\successful-eng-2.jpg" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>How To Be A Successful Engineer Workshop</h5>
          <p>2022/2023 Academic Year.</p>
          <p><a href="https://photos.app.goo.gl/P9LZS86aSiVBadHp6" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\zwes.jpg" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>Zambia Women in Engineering Section</h5>
          <p>2022/2023 Academic Year.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\zfl-stem-fair-1.jpg" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>Zambia Flying Labs Stem Fair</h5>
          <p>2022/2023 Academic Year.</p>
          <p><a href="https://photos.app.goo.gl/MhsYvvwpD5J64f9P8" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\motivational.jpg" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>Engineers As Game Changers Motivational Talk</h5>
          <p>2022/2023 Academic Year.</p>
          <p><a href="https://photos.app.goo.gl/jEJ7QV9wDteSa4uEA" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\ieee-asypc-2023-1.jpg" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>IEEE ASYPC 23 Info Session</h5>
          <p>2022/2023 Academic Year.</p>
          <p><a href="https://photos.app.goo.gl/cm9UR6hwE8FtqF4H9" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\unzaicta-1.jpg" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>UNZAICTA Paratus Zambia Technical Tour</h5>
          <p>2022/2023 Academic Year.</p>
          <p><a href="https://photos.app.goo.gl/PyCdHxbTD6ATGeeU7" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\xtreme17.0.jpg"   
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>IEEEXtreme 17.0</h5>
          <p>2022/2023 Academic Year.</p>
          <p><a href="https://photos.app.goo.gl/9zk3pXPuVmH7tY8B6" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="..\static\images\gallery\gdsc-ai-ml-1.jpg" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>GDSC AI & Machine Learning For Zambia</h5>
          <p>2022/2023 Academic Year.</p>
          <p><a href="https://photos.app.goo.gl/iBhGWKeTBSEFKqr39" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock %}