<!-- file: gallery-3.html -->

{% extends 'gallery-2.html' %}

{% block body %}

  <!-- 2021/2022 YEAR - Carousel -->
  <div id="carouselExampleCaptions3" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="8" aria-label="Slide 9"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="9" aria-label="Slide 10"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="10" aria-label="Slide 11"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="11" aria-label="Slide 12"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV84_P5z3gexwO14L19-2E9jVgg4oJMy3dO_yllajw3orP3VpA13q_rHxEr1QpwD3ZRPriCchQcvELJbr5p_j3LY6esLzkyZP6QyBaoJ8uo7fBz_EQeo=w2400" 
          class="d-block w-100" id="welcome-to-eiz" alt="...">
        <div class="carousel-caption">
          <h5>2021/2022 Academic Year</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV85FduhzqP-wVWMmBUYSry6CRSPS5QuH5r79dJipAygL1uIy5yIMDZz8BE8rSuOeVH4EzyOU4gnFaGRhmnUOvUXDqwxpdELT_Te3_hiYcJ2GWNb8akk=w2400" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>EIZ Southern Region Annual General Meeting</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a href="https://photos.app.goo.gl/7zih1NF5UargHpcx6" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV85115ICDFom58AqO2S7cdF6d6hmZHh-XJiiMoWzzlfqvJxvubdrFtvOsjRMdbiVwVHyuSSnmKFDAX9lUaI_avQWtsFYWKC5orNEjT9W2IIcAKbtLwY=w2400" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>World Engineering Day 2023</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a href="https://photos.app.goo.gl/F6npQp1Xd2561Sfq6" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV87hb_BEtoJB3cPc7_mPt6qMMbhha6K4ZaHf63X0luhE69hJTXkxIFeOfdn_n8nQlLRu0C3jK0A1ckNz5jVCb8uDwiednN4Hx-eJF1x_XAT07WtSXpY=w2400" class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>IEEE x GDSC Fundamentals of Robotics</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a href="https://photos.app.goo.gl/JPe2fYPpb8JgSXmh6" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV86p7hKhwfo6p2VEwDYFTrmALSbzZ4Zbvmy76mFIlIpKPwVpGIZ3lUJsZLF2s9Z1PyK-_BBSzDaoNoWX4yv7HNc8VGBjVTvb6cWTGjyd0YWMk0ImF7w=w2400" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>How To Be A Successful Engineer Workshop</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a href="https://photos.app.goo.gl/P9LZS86aSiVBadHp6" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV85ROl7DYe1JizFcq6UsOi_uYZ484wMkBkbgPeyF3xWDTau-_YsPQDOTPBi1p-RWMvbMr9E1b_2QbaVToSnTa_BIatPk7DZvgMvC66Q4IyHc-PD3APk=w2400" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>Zambia Women in Engineering Section</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV85-MBtC4SKFZtTdAK2-Yij1olNaZP8XhkYl98MXYsMiyq8R4AxW32QaI5EUsCqkYrzspxIsRxvpV3-XnwqgKALdUsoRgQBCvS9a_KbfQ55BxF1QgMA=w2400" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>Zambia Flying Labs Stem Fair</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a href="https://photos.app.goo.gl/MhsYvvwpD5J64f9P8" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV86crBQGhIjIlC9lf9QyEvGmEGTgC63CUb9L7tghv1bKNwpgoa27Ac6h7BF4a8pPzrnm2cHblpwR0MRbyC1G1ICKERAYBNIFGRxVH_1MknfB16ig61s=w2400" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>Engineers As Game Changers Motivational Talk</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a href="https://photos.app.goo.gl/jEJ7QV9wDteSa4uEA" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV84XP9ukmBHsuUmEQpLsHU412KqAQ5Mznz25NxmpBKWn_KdVKVXksF_gLooWGpvDKju7Ungu-4nG2mGHI3poQt_C4QnLsy34V-ekM1XnXFb0G8VRME8=w2400" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>IEEE ASYPC 23 Info Session</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a href="https://photos.app.goo.gl/cm9UR6hwE8FtqF4H9" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV86KgI3Z_vwQdbn9ptcRsgwxX84ckpn1HErf8C1uuggJOoV2cMkYB9znkUJ9EXKXqt0zP310TjdnXdqYYsRbu1BMoUtnLpmb-RYKMJjLDopgpR3SOhc=w2400" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>UNZAICTA Paratus Zambia Technical Tour</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a href="https://photos.app.goo.gl/PyCdHxbTD6ATGeeU7" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV87u9FmZRoPwQDVj6M49t_KEtphBfHVMCgekvpl9CBgsnbCbn-BvXErQghvw00p1Rm-aV2a5CQCCAOnAYI5eqLgV76GPlOH3fvr_1WzBxH6CqXt5hRc=w2400"   
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>IEEEXtreme 17.0</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a href="https://photos.app.goo.gl/9zk3pXPuVmH7tY8B6" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV85qdyZDMiIymf4zT4zRk5BFsippN8J9BQ-Jprq_nvTovrQ6N1KTMKNNCw6hes5o_uyihcTuCh0V7Jm_d4L9yghPgwrexuvLUuWzLaM1Nustdr45FLw=w2400" 
          class="d-block w-100" alt="...">
        <div class="carousel-caption">
          <h5>GDSC AI & Machine Learning For Zambia</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p><a href="https://photos.app.goo.gl/iBhGWKeTBSEFKqr39" class="btn btn-success mt-3">View Album</a></p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock %}