<!-- file: header.html -->

{% extends 'base.html' %}

{% block body %}

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/#">
        <img src="https://lh3.googleusercontent.com/pw/ABLVV85RGqiZ3LVgqZXhcnMlsiUUuuDF3-6bBGgyv611DEQKN7tixrRvL3IMwcyxfMvYYxHH7zeYVbiHHXcExnGK8kixoEGgPrLg_LUF5r3i9nXNVYzEgJY=w2400" 
          alt="eiz-logo" height="36px" />
        <span class="text-success">EIZ</span> UNZA SC
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon js-scroll-trigger"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#core-values">Core-Values</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/sections">Sections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/#contacts">Contact</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>

{% endblock %}
