<!-- file: partners.html -->

{% block body %}

<!-- NEW Partners Section -->
<section id="partners" class="partners section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Our Partners</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="logos">
          <div class="logos-slide">
            <a href="https://www.eiz.org.zm/" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV86yAjgx5atA6traisfTa9RvEBhCQ4Gc237NJPDfeUeYq9-1kDYV6gQer4feDBSkJ07o4W1dK8_3eu15OD_H6kkrSOfvM-jKP_EkV7LDf2QE7wLITS8=w2400" 
                alt="eiz-logo-no-bg">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100076896635489" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV86ef2mNTlZXnx3_RPMc6uEV_ZjuaIo28i17NcAHM71keA9YapQIz_TplGbFJ3B9zFyISXgm0asPHmkSzuLPMDotoeKJw-P7m-cO_9y6Z6gbLVBW0WQ=w2400" 
                alt="unzasu-1">
            </a>
            <a href="https://www.facebook.com/uzesunzazm" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV858MieiCw04B6ETtYBEvJGaW4yBkLkXInb5mLWnv99kjNkFwgtYhTCmrdCVjRCB1pS2vvUSHRbRc5bIA9F9bzFz32ARqGqLIarLp3NFK9VhD8VtMdU=w2400" 
                alt="uzes-logo-1">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100088599872489" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV862CypAGL16pbT7u60SfYpLbTicP8GNaE-0_dT-1A9RDgXMDun3p7CEgWec4GKrO1FT1LkVG0-tSzIOS-wBC5-Z_sSN-jGTwgJYfYrGg_MP_b7QlUU=w2400" 
                alt="unzams-6">
            </a>
            <a href="https://gdsc.community.dev/university-of-zambia/" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV85hRF2knGNtf-pYq7ivp9KvYFqVSPCQdaMIH_gwCDhOcQMHkpsN555OVJUqN1iUaBdHhpTAvJtVaC3gMZSFty1pXNUY3dr-f9CbVMJawou_G9Ore5I=w2400" 
                alt="gdsc-unza-logo-2">
            </a>
            <a href="https://www.facebook.com/unzaieee" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV854GRvbtH0QkCTJy_3MVZPy7KjGogSjcvPUzayNO-aAWpTJmdvaPyw865gzVVKzwQaDozSy0PwNb7zO1VI1Ye0MUcB0Y2q3q_eWD1lfOyrRM9GMbiE=w2400" 
                alt="ieee-3">
            </a>
            <a href="https://flyinglabs.org/zambia/" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV86tmehejJsqEYuYtcdbp9njgh7flnCYPePpbF95pDWjeJlGRbHXOnGcUfd72DDsrAr_T4ZonqCY-i4sQupelR0LcWbXxZf5wLlbBvgxyBnsYFOMt54=w2400" 
                alt="zfl">
            </a>
            <a href="https://werobotics.org/" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV84ydcC86j4YUMaCvgn9lbeRCRhz4dM819-DGjlmPqyS5KlOPVaj4mOunbquYiVse5_I8Q-0lYVak3t2ktY-5N1-_j9-qBEpn02LS-9Q6MOaKAVKE6k=w2400" 
                alt="WeRobotics">
            </a>
            <a href="https://www.facebook.com/unzacs" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV85vZmDYO2LHpSGz_R-zM_5NjclY4OxhW-raW_DcFjD7RWlRTmqxYBvxNw1DdPZ45UcpsW5HvfhPpa0WRg-6r--TXAuVarUIkSj3XKbw9acoeRhld3k=w2400" 
                alt="ucs">
            </a>
            <a href="https://www.facebook.com/profile.php?id=100063655296001" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV844BLOEMNZNWbhAcEdjk-EQ8pkamB0ReNZ8jOENqWmJA5_E1Xlgk4JHTIzXONpy3rBYSqdZlMIVS5Ay8m_wa2bNb1tW6H0v9QcoZkeCnq4BthTb7ps=w2400" 
                alt="unzaicta">
            </a>
            <a href="https://www.facebook.com/profile.php?id=61554016591433" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV84LN0mlTJfmAlLa2hKqsoKMPe-EJKGWaqkMEhNVIFUoeKtMINXlFugclD6V1B-7dkeB5XHYOX0SACy2CVJSTlbDixG-5XKCpPLu95vh602RleqI2jA=w2400" 
                alt="innovation-hub-1">
            </a>
            <a href="https://ieee-pes.org/" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV87HfnZ4s0v6nUuRSCDoNSd38NlVQ04YQxJC3OVO4FRhab4Hx_AuZm4cj-FeBfeyDzWTCWtwwwrGFdN14jLG8iKJitDY62Wl5jvDPX4mvkUv3UC5630=w2400" 
                alt="ieee-pes">
            </a>
            <a href="https://ictaz.org.zm/" target="_blank">
              <img src="https://lh3.googleusercontent.com/pw/ABLVV84YWjIVOL9j8h4leYyjD7Km6p37dIwWpAXHYJpJacVmXPCnzHhpr9PzO91VBWWcaX0e-TXJIAmaK1mbhMkK-PKRQ-r6pOJnvp5WVH6bIOVUG53COOU=w2400" 
                alt="ictaz">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}