<!-- file: preface.html -->

{% extends 'header.html' %}

{% block body %}

<!-- Carousel -->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..\static\images\gallery\eiz-unza-sc-logo.jpg" 
        class="d-block w-100" id="welcome-to-eiz" alt="...">
      <div class="carousel-caption">
        <h5>Welcome</h5>
        <p>The collective Engineering Mother Body at the University of Zambia, Great-East Road Campus.</p>
        <p><a href="#about" class="btn btn-success mt-3">Learn More</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="..\static\images\gallery\successful-eng-4.jpg" 
        class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Membership Benefits</h5>
        <p>Explore the membership benefits that the Student Chapter has to offer.</p>
        <p><a href="https://drive.google.com/file/d/1uNMpkQnubSRqYR8EGHNx51-ns5RFCOwK/view?usp=drive_link" class="btn btn-success mt-3">Learn More</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="..\static\images\gallery\reg-1.jpg" 
        class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>How To Register as a Student Member</h5>
        <p>Membership is open to all Engineering and technology students at UNZA who desire to
          pursue a career in Engineering at a professional level and all those who have a mature
          curiosity for the future world. 
          </p>
        <p><a href="https://www.eiz.org.zm/Home/MembershipApplication" class="btn btn-success mt-3">Learn More</a></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- About Section -->
<section id="about" class="about section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 col-12">
          <div class="about-img">
            <img src="..\static\images\gallery\eiz-hackathon-1.jpg" alt="EIZ student award" 
              class="img-fluid" />
          </div>
        </div>
        <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
          <div class="about-text">
            <h2>About Us</h2>
            <p>
              Engineering Institution of Zambia (EIZ) provides for the registration of engineering
              professionals, engineering units and engineering organisations and regulate their professional
              conduct.
            </p>
            <p>
              EIZ has come a long way from its formation in 1955 to the passage of the 1992 Act of
              parliament that saw the creation of the Engineers’ Registration Board. The enactment of the
              revised EIZ Act No, 17 of 2010, brought recognition of Engineering Students bodies
            </p>
            <p>
              The EIZ Act No. 17 of 2010 organized bodies/Chapters in higher learning institutions that
              will govern and represent the Engineering Students.
            </p>
            <a href="#core-values" class="btn btn-success">Learn More</a>
          </div>
      </div>
    </div>
  </section>

  <!-- Core Values Section -->
<section id="core-values" class="core-values section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>EIZ Online Application Process</h2>
          <p>
            Struggling with the Engineering Institution of Zambia (EIZ) online application? Watch this quick video to follow the process for an easier application.
          </p>
        </div>
      </div>
    </div>
    <div style="width: 100%; text-align: center;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fZkjXLqLsiQ?si=xzAbm1X0yvi-fDjm" 
        title="YouTube video player" frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
      </iframe>
    </div>
  </div>
  
  
</section>
  
<!-- Core Values Section -->
<section id="core-values" class="core-values section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Our Core Values</h2>
          <p>
            These core values encompass the spirit at the heart of the Student Chapter.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <br />
            <span style="color:rgb(25, 135, 84);">
              <i class="fa-solid fa-users-gear"></i>
            </span>
            <br />
            <br />
            <h3 class="card-title">Teamwork</h3>
            <p class="lead">
              Where collaboration among members fosters a sense of unity and shared purpose. 
              By working together, we aim to build a supportive community that leverages the strengths of each member to achieve collective goals.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <br />
            <span style="color:rgb(25, 135, 84);">
              <i class="fa-regular fa-lightbulb"></i>
            </span>
            <br />
            <br />
            <h3 class="card-title">Innovation</h3>
            <p class="lead">
              The Student Chapter explores new ideas and approaches in engineering. 
              We encourage our members to think creatively and embrace technological advancements to solve challenges and contribute positively to the field of engineering.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-white text-center bg-dark pb-2">
          <div class="card-body">
            <br />
            <span style="color:rgb(25, 135, 84);">
              <i class="fa-solid fa-oil-well"></i>
            </span>
            <br />
            <br />
            <h3 class="card-title">Excellence</h3>
            <p class="lead">
              A core commitment, reflected in our pursuit of the highest standards in all endeavors. We strive to cultivate professionalism and integrity, 
              ensuring that our members excel both academically and professionally, preparing them for successful careers in engineering.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
</section>

{% endblock %}

