<!-- file: projects.html -->

{% extends 'preface.html' %}

{% block body %}

<!-- Projects Section -->
<section id="projects" class="portfolio section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Innovation Hub Projects</h2>
            <p>
              Innovation Hub UNZA founded in 2023 is a local STEM Hub at the University Of Zambia School Of Engineering. 
              It is a Hub dedicated at promoting student ideas in using local resources to solve local problems. 
              We provide a platform for students to discuss and showcase their creativity and innovative ideas in solving community problems. 
              We do this by conducting workshops, STEM competitions as  well as the design and prototyping of technological projects that are aimed at fostering 
              creativity amoung student.
            </p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pd-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img src="../static/images/projects/egg_incubator.jpg" alt="" class="img-fluid" />
              </div>
              <p class="lead"></p>
                The University of Zambia won first prize at the 2024 Agricultural And Commercial Show in the category of best innovation exhibit.
              </p>
              <!--
              
              <h3 class="card-title">Smart Egg Incubator</h3>
              <br />
              
              -->
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pd-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img src="../static/images/projects/arduino.jpg" alt="" class="img-fluid" />
              </div>
              <p class="lead"></p>
                Innovation Hub with support from The University of Zambia School of Engineering Management has been working on several 
                projects that seek to address the challenges our communities are going through. 
              </p>
              <!--
              
              <h3 class="card-title">Smart Egg Incubator</h3>
              <br />
              
              -->
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pd-2">
            <div class="card-body text-dark">
              <div class="img-area mb-4">
                <img src="../static/images/projects/iot.jpg" alt="" class="img-fluid" />
              </div>
              <p class="lead"></p>
                Amoung these challenges is a smart egg incubator that uses IoT to monitor temperature and humidity, includes a GSM interface for SMS updates, 
                and automatically turns the eggs.
              </p>
              <!--
              
              <h3 class="card-title">Smart Egg Incubator</h3>
              <br />
              
              -->
            </div>
          </div>
        </div>
      </div>
      </div>

    </div>
  </section>

{% endblock %}