<!-- file: publications.html -->

{% extends 'base.html' %}

{% block body %}
    {% include 'header.html' %}

    <!-- Publications Section -->
<section id="publicaitons" class="publications section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Publications</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pd-2">
            <div class="card-body text-dark">
              <h3 class="card-title">Engineering Echo Magazine</h3>
              <br />
              <a href="https://www.eiz.org.zm/Home/Downloads?mediaCategory=Echo" target="_blank">
                <button class="btn btn-success">Explore</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pd-2">
            <div class="card-body text-dark">
              <h3 class="card-title">Annual Reports</h3>
              <br />
              <a href="https://www.eiz.org.zm/Home/Downloads?mediaCategory=Reports" target="_blank">
                <button class="btn btn-success">Explore</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-center bg-white pd-2">
              <div class="card-body text-dark">
                <h3 class="card-title">Conference Presentations</h3>
                <br />
                <a href="https://www.eiz.org.zm/Home/Downloads?mediaCategory=Presentations" target="_blank">
                  <button class="btn btn-success">Explore</button>
                </a>
              </div>
            </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-center bg-white pd-2">
              <div class="card-body text-dark">
                <h3 class="card-title">Journal of EIZ</h3>
                <br />
                <a href="https://www.eiz.org.zm/Home/Downloads?mediaCategory=Journal" target="_blank">
                  <button class="btn btn-success">Explore</button>
                </a>
              </div>
            </div>
        </div>
        <!--
        <div class="col-12 col-md-12 col-lg-4">
            <div class="card text-center bg-white pd-2">
              <div class="card-body text-dark">
                <h3 class="card-title">Parliamentary Submissions</h3>
                <br />
                <a href="https://www.eiz.org.zm/Home/Downloads?mediaCategory=Submissions" target="_blank">
                  <button class="btn btn-success">Explore</button>
                </a>
              </div>
            </div>
        </div>
      -->
        <div class="col-12 col-md-12 col-lg-4">
          <div class="card text-center bg-white pd-2">
            <div class="card-body text-dark">
              <h3 class="card-title">Policy Documents</h3>
              <br />
              <a href="https://www.eiz.org.zm/Home/Downloads?mediaCategory=Policy" target="_blank">
                <button class="btn btn-success">Explore</button>
              </a>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </section>

    {% include 'footer.html' %}
{% endblock %}