<!-- file: team.html -->

{% extends 'sections.html' %}

{% block body %}

    <!-- Team Section -->
<section id="team" class="team section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Student Chapter Executive (2023/2024)</h2>

            <!--
            
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br />sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            
            -->
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-">PRESIDENT</h6>
              <img id="eiz-team" src="../static/images/team/lewis.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Lewis Mulenga</h3>
              <p class="card-text">
                5th-year student at the School of Mines.
              </p>
  
              <p class="socials">
                <a href="wa.link/cxyitd"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="https://zm.linkedin.com/in/lewis-mulenga-33bb43217"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
                -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-6">VICE-PRESIDENT</h6>
              <img id="eiz-team" src="../static/images/team/nazzana-3.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Nazzana Nakazwe</h3>
              <p class="card-text">
                5th-year student in the Department of Geomatic Engineering at the School of Engineering.
              </p>
  
              <p class="socials">
                <a href="https://wa.link/37097m"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="https://zm.linkedin.com/in/nazzana-nakazwe-291437210"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
                -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-">SECRETARY GENERAL</h6>
              <img id="eiz-team" src="../static/images/team/mwansa.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Mwansa Chikonde <br /></h3>
              <p class="card-text">
                5th-year student in the Department of Electrical and Electronic Engineering at the School of Engineering.
              </p>
  
              <p class="socials">
                <a href="https://wa.link/8mu8f4"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="https://zm.linkedin.com/in/mwansa-chikonde-630800203"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
                -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-">FINANCIAL SECRETARY</h6>
              <img id="eiz-team" src="../static/images/team/dalitso-3.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Dalitso Mtonga</h3>
              <p class="card-text">
                4th-year student in the Department of Civil and Environmental Engineering at the School of Engineering.
              </p>
  
              <p class="socials">
                <a href="https://wa.link/037mcu"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="https://zm.linkedin.com/in/daliso-mtonga-r-teg-3a6470184"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
                -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-">PROJECTS & PUBLICITY SECRETARY</h6>
              <img id="eiz-team"  src="../static/images/team/siwale.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Emmanuel Siwale</h3>
              <p class="card-text">
                4th-year student in the Department of Agricultural Engineering at the School of Engineering.
              </p>
  
              <p class="socials">
                <a href="https://wa.link/1lczll" target="_blank"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="https://zm.linkedin.com/in/emmanuel-siwale-8575631bb"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
                -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-">ZWES REPRESENTATIVE</h6>
              <img id="eiz-team"src="../static/images/team/grace-2.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Grace Phiri</h3>
              <p class="card-text">
                5th-year student at the School of Mines.
              </p>
  
              <p class="socials">
                <a href="https://wa.link/wb0wz3"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="https://www.linkedin.com/in/grace-phiri-34069b238/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
                -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-">COMMITTEE MEMBER</h6>
              <img id="eiz-team" src="../static/images/team/nchimunya.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Nchimunya Chidunuka</h3>
              <p class="card-text">
                5th-year student at the School of Mines.
              </p>
  
              <p class="socials">
                <a href="https://wa.link/t3zu2i"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="https://zm.linkedin.com/in/nchimunya-chidunuka%F0%9F%87%BF%F0%9F%87%B2-548705190"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
                -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-">COMMITTEE MEMBER</h6>
              <img id="eiz-team" src="../static/images/team/kennedy-2.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Kennedy Salam</h3>
              <p class="card-text">
                5th-year student in the Department of Civil and Environmental Engineering at the School of Engineering.
              </p>
  
              <p class="socials">
                <a href="https://wa.link/2ot4tq"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
                -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-">COMMITTEE MEMBER</h6>
              <img id="eiz-team" src="../static/images/team/chisoya.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Emmanuel Chisoya</h3>
              <p class="card-text">
                4th-year student in the Department of Computer Science at the School of Natural Sciences.
              </p>
  
              <p class="socials">
                <a href="https://wa.link/ljk5pj"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="https://zm.linkedin.com/in/emmanuel-chisoya-b63b37286"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
                -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-">EEE STUDENT REPRESENTATIVE</h6>
              <img id="eiz-team" src="../static/images/team/anesu.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Anesu Mumba</h3>
              <p class="card-text">
                5th-year student in the Department of Electrical and Electronic Engineering at the School of Engineering.
              </p>
  
              <p class="socials">
                <a href="https://wa.link/huqa30"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="https://zm.linkedin.com/in/anesu-mumba-645424210"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
                -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center">
            <div class="card-body">
              <h6 class="card-title py-">CE STUDENT REPRESENTATIVE</h6>
              <img id="eiz-team" src="../static/images/team/violet.jpg" alt="" class="img-fluid rounded-circle" />
              <h3 class="card-title py-2">Violet Naluonde</h3>
              <p class="card-text">
                5th-year student in the Department of Civil and Environmental Engineering at the School of Engineering.
              </p>
  
              <p class="socials">
                <a href="#"><i class="bi bi-whatsapp text-dark mx-1"></i></a>
                <a href="https://zm.linkedin.com/in/violet-naluonde-415762225"><i class="bi bi-linkedin text-dark mx-1"></i></a>
               <!--
                <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                <a href="#"><i class="bi bi-twitter-x text-dark mx-1"></i></a>
               -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}